<!DOCTYPE html>
<html lang="es">

<head>
<title>FCE | Iniciar sesión</title>
<meta name="viewport" content="width=device-width">
<meta charset="utf-8" />
<link rel="stylesheet" href="img/style_error.css" />

<link rel="stylesheet" href="img/bootstrap.min.css"/>
<link rel="stylesheet" href="img/bootstrap-theme.min.css"/>
<sript src="img/bootstrap.min.js"/>
<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
-->

<script>
  function volver() {
      window.history.back();
  }
</script>

</head>

<body>
    <div class="header">
        <div>Login FCE | Iniciar sesión</div>
    </div>
    <div class="contenedorErrorLogin">
        <div class="errorlogin">
            <div class="errorLoginContenedor">
                <div>
                  <img src="img/logo_fce.png"></img>
                </div><hr>
                <div>
                    <div class="mensaje">
                      Los datos ingresados son incorrectos.
                    </div>
                    <button type="submit" onclick='volver()' class="btn btn-primary ">Volver</button>
                </div><hr>
                <div class="footerErrorLogin">
                  <div>
                      <a class="linkAyuda" href="http://usuarios.econo.unlp.edu.ar/reset_clave/index.html"> ¿Olvidaste tu contraseña?</a><br>
                      <a class="linkAyuda" href="http://usuarios.econo.unlp.edu.ar/reset_clave/index.html"> ¿No puedes acceder?</a>
                  </div>
                      <img src="img/logo_unlp.png"></img>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
      <div class="footerPrincipal">DiTESI | Dirección de tecnologías y Sistemas Informáticos | Facultad de Ciencias Económicas | UNLP | Calle 6 Nº 777</div>
      <div class="footerAlternativo">  DiTESI | Dirección de tecnologías y Sistemas Informáticos | FCE</div>
    </div>
</body>
</html>
