<!DOCTYPE html>
<html lang="es">

<head>
<title>FCE | Cerrar Sesión</title>
<meta name="viewport" content="width=device-width">
<meta charset="utf-8" />
<link rel="stylesheet" href="img/style_logout.css" />

<link rel="stylesheet" href="img/bootstrap.min.css"/>
<link rel="stylesheet" href="img/bootstrap-theme.min.css"/>
<sript src="img/bootstrap.min.js"/>

<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
-->

</head>

<body>
    <div class="header">
        <div>FCE | Cerrar Sesión</div>
    </div>
    <div class="contenedorLogout">
        <div class="logout">
            <div class="logoutContenedor">
                <div>
                  <img src="img/logo_fce.png"></img>
                </div><hr>
                <div class="mensaje">
                  La sesión se ha cerrado correctamente.
                </div><hr>
                <div>

                      <img src="img/logo_unlp.png"></img>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
      <div class="footerPrincipal">DiTESI | Dirección de tecnologías y Sistemas Informáticos | Facultad de Ciencias Económicas | UNLP | Calle 6 Nº 777</div>
      <div class="footerAlternativo">  DiTESI | Dirección de tecnologías y Sistemas Informáticos | FCE</div>
    </div>
</body>
</html>
