
<div class='consola'>

    <button class="btn btn-primary btn-sm" ng-click='estadoAnterior()'>Pantalla Anterior</button>
    <button class="btn btn-primary btn-sm" ng-click='estadoSiguiente()'>Pantalla Siguiente</button>
    <span>Pantalla: <b>{{estilo}}</b></span>

    <span> | Mensajes:</span>
    <button ng-click='cambiarMensaje()'>si/no</button>
    <button class="btn btn-primary btn-sm" ng-click='mensajeAnterior()'>Mensaje Anterior</button>
    <button class="btn btn-primary btn-sm" ng-click='mensajeSiguiente()'>Mensaje Siguiente</button>
    <span>Mensaje estado: {{mensaje.mensaje}}</span>
    <span>Pantalla mensaje: {{mensaje.codigo}}</span>

    <span> | Errores:</span>
    <button ng-click='cambiarError()'>si/no</button>
    <button class="btn btn-primary btn-sm" ng-click='errorAnterior()'>Error Anterior</button>
    <button class="btn btn-primary btn-sm" ng-click='errorSiguiente()'>Error Siguiente</button>
    <span>Error estado: {{error.error}}</span>
    <span>Pantalla error: {{error.codigo}}</span>
    <!-- {{estilo}}
    {{error}} -->
</div>
