html, body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  width: 100%;
  background-image: url(img/color_fondo_login.jpg);
  font-family: 'Open Sans', sans-serif;
  /*overflow: hidden;*/
}


@media screen and (max-width: 719px) {
  html, body {
    background-image: none;
    background-color: white;
  }

}
