<div class='login {{estado}} {{mensaje.mensaje}} {{mensaje.codigo}} {{error.error}} {{error.codigo}}'>

  <!-- EstadoLogin -->

  <div class='pantalla contenedorLogin'>
      <div class=tamanoLogin>
          <div class="subContenedorLogin">
              <div>
                <img src="img/logo_fce.png"></img>
              </div><hr>
              <div>
                  <div>Sistema de Usuarios FCE</div><br>
                      <form ng-submit='login()'>
                        <div class="form-group"><input type='text' name='u' class="form-control" placeholder="Ingrese DNI" ng-model='usuario'></input></div>
                        <div class="form-group"><input type='password' name='p' class="form-control" placeholder="Contraseña" ng-model='clave'></input></div>
                        <button type='submit' class="btn btn-primary btnAcceder">Acceder</button>
                      </form>
              </div><hr>
              <div class="footerLogin">
                  <div>
                      <a class="linkAyuda" href=""> ¿Olvidaste tu contraseña?</a><br>
                      <a class="linkAyuda" href=""> ¿No puedes acceder?</a>
                  </div>
                  <div><img src="img/logo_unlp.png"></img></div>
              </div>
          </div>
      </div>
  </div>



  <div class='pantalla_error contenedorErrores'>

    <div class='pantalla_error usuario_bloqueado'>
      Su usuario ha sido bloqueado.
      Por favor contacte con DeTiSE haciendo click <a href='#'>aqui</a>
    </div>

    <div class='pantalla_error usuario_inexistente'>
      No tenemos registrado a ninguna persona con ese dni.
      Si es alumno debe seguir los pasos .....
      Si es docente debe acercarse a personal para que verifiquen el estado de sus designaciones
      Si es no-docente debe acercarse a personal para que ...
    </div>

    <div class='pantalla_error error_sistema'>
      Ha ocurrido un error de sistema.
      si persiste para contactarse con DiTESI <a href='#'>aqui</a>
      <button>volver</button>
    </div>

    <div class='pantalla_error seguridad_error'>
      No se permite acceder a este sitio directamente.
      Si cree que esto es un error y desea comunicarse con DiTeSI puede hacerlo haciendo click <a href='#'>aqui</a>
    </div>

  </div>

  <!-- EstadoRedireccionando -->

  <div class='pantalla contenedorRedireccionando'>
    <div class=tamanoLogin>
        <div class="subContenedorLoginRedireccionando">
            <div>
              <img class="imgAvatar" src="{{usuario.picture}}"></img>
            </div><br>
            <div>Bienvenido</div>
            <div class="nombreUsuario">{{usuario.name}}</div>
            <div>
              <img class="imgCargando" src="img/preloader.gif"></img>
            </div>
        </div>
    </div>
    <div>
    </div>
  </div>

  <div class='pantalla_error error_redireccionando'>
    error redireccionando
    Por favor contacte con DeTiSE haciendo click <a href='#'>aqui</a>
  </div>

</div>
