<div class='login {{estado}} {{mensaje.mensaje}} {{mensaje.codigo}} {{error.error}} {{error.codigo}}'>

  <!-- EstadoLogin -->

  <div class='pantalla contenedorLogin error_de_acceso'>
    <!-- VARIABLES: error_de_acceso -->
      <div class=tamanoLogin>
          <div class="subContenedorLogin">
              <div>
                <img src="img/logo_fce.png"></img>
              </div><hr>
              <div>
                      <form ng-submit='login()'>
                        <div class="form-group"><input type='text' name='u' class="form-control" placeholder="Ingrese DNI" ng-model='usuario'></input></div>
                        <div class="form-group"><input type='password' name='p' class="form-control" placeholder="Contraseña" ng-model='clave'></input></div>
                        <button type='submit' class="btn btn-primary btnAcceder">Acceder</button>
                      </form>
              </div>
              <div class="contededorErrorDeAcceso error_usuario_bloqueado">
                  <!-- VARIABLES: error_primer_de_acceso , error_reiterado_de_acceso  ,error_usuario_bloqueado -->
                  <i class="flechacontenedor fa fa-caret-up fa-2x" aria-hidden="true"></i>
                  <div class="erroresDeAcceso errorPrimerAcceso">
                    Nombre de usuario y/o contraseña incorrectos. inténtalo de nuevo.
                  </div>
                  <div class="erroresDeAcceso errorIntentosFallidos">
                    Nombre de usuario y/o contraseña incorrectos. Te quedan <b>3</b> intentos.
                  </div>
                  <div class="erroresDeAcceso errorUsuarioBloquedado">
                    <b>Usuario bloqueado</b> por reiterados intentos de acceso fallidos.
                  </div>
              </div>
              <hr>
              <div class="footerLogin">
                  <div>
                      <a class="linkAyuda" href=""> ¿Olvidaste tu contraseña?</a><br>
                      <a class="linkAyuda" href=""> ¿No puedes acceder?</a>
                  </div>
                  <div><img src="img/logo_unlp.png"></img></div>
              </div>
          </div>
      </div>
  </div>



  <div class='pantalla_error contenedorErrores'>

    <!-- <div class='pantalla_error usuario_bloqueado'>
      Su usuario ha sido bloqueado.
      Por favor contacte con DeTiSE haciendo click <a href='#'>aqui</a>
    </div> -->

    <!-- <div class='pantalla_error usuario_inexistente'>
      No tenemos registrado a ninguna persona con ese dni.
      Si es alumno debe seguir los pasos .....
      Si es docente debe acercarse a personal para que verifiquen el estado de sus designaciones
      Si es no-docente debe acercarse a personal para que ...
    </div> -->

    <div class='pantalla_error error_sistema'>
      <div class="estiloError">
        <div>
          <i class="iconosErrores fa fa-server" aria-hidden="true"></i>
        </div>
        <div>
          <h1>Ha ocurrido un error de sistema.</h1>
          <p>Inténtalo de nuevo. Si el error persiste contáctase con DiTESI desde <a href='#'><b>aquí</b></a></p>
          <button class="btn btnVolver">volver</button>
        </div>
      </div>
    </div>

    <div class='pantalla_error seguridad_error'>
      <div class="estiloError">
        <div>
          <i class="iconosErrores fa fa-meh-o" aria-hidden="true"></i>
        </div>
        <div>
          <h1>Oops! No se permite acceder<br> a este sitio directamente.</h1>
          <p>Si cree que esto es un error y desea comunicarse con DiTeSI puede hacerlo haciendo click <a href='#'>aqui</a></p>
        </div>
      </div>
    </div>

  </div>

  <!-- EstadoRedireccionando -->

  <div class='pantalla contenedorRedireccionando'>
    <div class=tamanoLogin>
        <div class="subContenedorLoginRedireccionando">
            <div>
              <img class="imgAvatar" src="./img/avatar.png"></img>
              <img class="imgAvatar" src="{{usuario.picture}}"></img>

            </div><br>
            <div>Bienvenido</div>
            <div class="nombreUsuario">Walter{{usuario.name}}</div>
            <div>
              <img class="imgCargando" src="img/preloader.gif"></img>
            </div>
        </div>
    </div>
    <div>
    </div>
  </div>

  <div class='pantalla_error error_redireccionando'>
    error redireccionando
    Por favor contacte con DeTiSE haciendo click <a href='#'>aqui</a>
  </div>

</div>
