
.login > div {
  display: none;
}

.login .contenedorErrores > div {
  display: none;
}

.login.error .contenedorErrores {
  display: flex;
}

.login.Estado_Login .contenedorLogin {
  display: flex;
}

.login.Estado_Redireccionando .contenedorRedireccionando {
  display: flex;
}

.login.error .pantalla {
  display: none;
}


.login.error.ErrorUsuarioBloqueado .usuario_bloqueado {
  display: flex;
}

.login.error.ErrorUsuarioInexistente .usuario_inexistente {
  display: flex;
}


/*----- estilos de la pantalla --*/

.login .pantalla {
  width: 100%;
  height: 100vh;
  background-color: green;
}

.login .pantalla_error {
  width: 100%;
  height: 100vh;
  background-color: red;
}


/*
@media screen and (min-height: 900px) {
  .login {
    width: 100%;
    height: 1080px;
  }
}*/
