
.login.error.SistemaError .errorSistema {
  display: flex;
}

.login.error.SeguridadError .seguridadError {
  display: flex;
}


/*----- estilos de la pantalla --*/



.login .pantalla_error {
  width: 100%;
  height: 100vh;
  background-color: white;
}

/*$images: ('/img/imagen1.jpg', '/img/imagen2.jpg',  '/img/imagen3.jpg');

$img: nth($images, random(length($images)));*/

.login .pantallaLogin {
  width: 100%;
  height: 100vh;
  background: none;
  /*background-image: url(/img/imagen1.jpg);*/
  /*background: url($img) top center no-repeat;*/
  /*background-color: red !important;*/
}



.login .contenedorLogin {
  border: 10px solid;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.3em;
  width: 300px;
  /*height: 400px;*/
  margin-left: 15%;
  margin-top: -70px;
}

.login .subContenedorLogin {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: white;
}

.login .btnAcceder {
  width: 100%;
  background-image: -webkit-linear-gradient(top,#0069A6 0,#265a88 100%);
      background-image: -o-linear-gradient(top,#0069A6 0,#265a88 100%);
      background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#265a88));
      background-image: linear-gradient(to bottom,#0069A6 0,#265a88 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
      background-repeat: repeat-x;
      border-color: #245580;
}

.login .btnAcceder:hover {
      background-image: -webkit-linear-gradient(top,#083e66 0,#265a88 100%);
      background-image: -o-linear-gradient(top,#083e66 0,#265a88 100%);
      background-image: -webkit-gradient(linear,left top,left bottom,from(#083e66),to(#265a88));
      background-image: linear-gradient(to bottom,#083e66 0,#265a88 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
      background-repeat: repeat-x;
      border-color: #245580;
}

.login .footerLogin {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  color: grey;
  font-size: 10px;
}


.login .erroresDeAcceso {
  padding: 10px;
  background-color: #CCCCCC;
  border-radius: 4px;
  color: black;
  font-size: 12px;
  margin-top: -10px;

}

.login .flechacontenedor {
  color: #CCCCCC;
  margin-left: 20px;

}

.login .estiloError {
  position: absolute;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  justify-content: center;
  -webkit-justify-content:center;
  -moz-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  width: 100%;
  height: 100%;
}

.login .iconosErrores {
  font-size: 200px;
  color: #c4c4c4;
  border-right: 1px solid #ccc;
  padding-right: 20px;
  margin-right: 20px;
}

.login .btnVolver {
  background-color: #adadad ;
  color: white;
  margin-bottom: 30px;
}
.login .btnVolver:hover {
  background-color: #222222 ;
  color: white;
}





@media screen and (max-width: 719px) {

  .login .contenedorLogin {
    border: 0px solid;
    border-color: white;
    border-radius: 0px;
    width: 100%;
    height: 100%;
    /*height: 400px;*/
    margin-left: 0px;

  }

  .login .pantallaLogin {
    background-image: none;
  }

  .login .footerLogin {
    margin-bottom: 20px;
  }




}
