
<div class='consola'>

    <button class="btn btn-primary btn-sm" ng-click='pasoAnterior()'>Pantalla Anterior</button>
    <button class="btn btn-primary btn-sm" ng-click='pasoSiguiente()'>Pantalla Siguiente</button>
    <span>Pantalla: <b>{{estilo}}</b></span>

    <span> | Errores:</span>
    <input type='checkbox' ng-model='errorc' ng-change='cambiarError()'>si/no</input>
    <button class="btn btn-primary btn-sm" ng-click='errorAnterior()'>Error Anterior</button>
    <button class="btn btn-primary btn-sm" ng-click='errorSiguiente()'>Error Siguiente</button>
    <span>Error estado: {{error.error}}</span>
    <span>Pantalla error: {{error.codigo}}</span>
    <!-- {{estilo}}
    {{error}} -->
</div>
