
body { margin-top:60px; }
.width-100 { width:100px; }
.width-110 { width:110px; }
.width-auto { width:auto; }
.pointer { cursor:pointer; }
.navbar-brand { font-weight:bold; text-transform:capitalize; }
.img-small { width: 48px; height: 48px; }


header {padding-top:0px !important; padding-bottom:0px !important;}

