<div class='login {{estado}} {{mensaje.mensaje}} {{mensaje.codigo}} {{error.error}} {{error.codigo}}'>

  <!-- EstadoLogin -->

  <div class='pantalla contenedorLogin'>

      <form ng-submit='login()'>
        <div>Ingrese sus Datos</div>
        Usuario<input type='text' readonly='true' name='u' ng-model='usuario'></input>
        Clave<input type='password' name='p' ng-model='clave'>
        <button type='submit'>aceptar</button>
      </form>


  </div>


  <div class='pantalla_error contenedorErrores'>

    <div class='pantalla_error usuario_bloqueado'>
      Su usuario ha sido bloqueado.
      Por favor contacte con DeTiSE haciendo click <a href='#'>aqui</a>
    </div>

    <div class='pantalla_error usuario_inexistente'>
      No tenemos registrado a ninguna persona con ese dni.
      Si es alumno debe seguir los pasos .....
      Si es docente debe acercarse a personal para que verifiquen el estado de sus designaciones
      Si es no-docente debe acercarse a personal para que ...
    </div>

    <div class='pantalla_error error_sistema'>
      Ha ocurrido un error de sistema.
      si persiste para contactarse con DiTESI <a href='#'>aqui</a>
      <button>volver</button>
    </div>

  </div>

  <!-- EstadoRedireccionando -->

  <div class='pantalla contenedorRedireccionando'>
    <div>
      {{usuario.foto}}
      Bienvenido {{usuario.nombre}} {{usuario.apellido}}
      Será ....
    </div>
  </div>

  <div class='pantalla_error error_redireccionando'>
    error redireccionando
    Por favor contacte con DeTiSE haciendo click <a href='#'>aqui</a>
  </div>

</div>
