/*Flex Direction Row*/
.fdr {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;  flex-direction: row;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
}

/*Flex Direction Column*/
.fdc {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;  flex-direction: row;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
}

/*aling Center  */
.fac {
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
}


/*Justify Center*/
.fjc {
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
}

.fja {
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
}

.fjb {
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
}
