<div class="pantallaLogin fdr fac">
    <div class=contenedorLogin>
        <div class="subContenedorLogin">
            <div>
              <img src="img/logo_fce_login.png"></img>
            </div><hr>
            <div>
                <form ng-submit='login()'>
                  <div class="form-group"><input type='text' name='u' class="form-control" placeholder="Ingrese DNI" ng-model='usuario'></input></div>
                  <div class="form-group"><input type='password' name='p' class="form-control" placeholder="Contraseña" ng-model='clave'></input></div>
                  <button type='submit' ng-disabled='error.codigo == "UsuarioBloqueadoError"' class="btn btn-primary btnAcceder">Acceder</button>
                </form>
            </div>
            <div ng-if='error.error != ""' class="contenedorErrorDeAcceso">
                <i class="flechacontenedor fa fa-caret-up fa-2x" aria-hidden="true"></i>
                <div class="erroresDeAcceso">
                  Nombre de usuario y/o contraseña incorrectos.
                </div>
                <!-- <div class="erroresDeAcceso errorIntentosFallidos">
                  Nombre de usuario y/o contraseña incorrectos. Te quedan <b>{{model.intentos_restantes}}</b> intentos.
                </div>
                <div class="erroresDeAcceso errorUsuarioBloquedado">
                  <b>Usuario bloqueado</b> por <b>{{model.tiempo_de_bloqueo}} minutos</b> debido a reiterados intentos de acceso fallidos.
                </div> -->
            </div>
            <hr>
            <div class="footerLogin">
                <div>
                    <a class="linkAyuda" href="http://usuarios.econo.unlp.edu.ar/reset_clave/index.html"> ¿Olvidaste tu contraseña?</a><br>
                    <a class="linkAyuda" href="http://usuarios.econo.unlp.edu.ar/reset_clave/index.html"> ¿No puedes acceder?</a>
                </div>
                <div><img src="img/logo_unlp_login.png"></img></div>
            </div>
        </div>
    </div>
</div>
